.landinggallery {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.showgallery {
    padding: 6vh 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.imagess {
    margin: 20px 20px;
    height: 45vh;
    width: auto;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    box-sizing: border-box;
}

.imagess:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media (max-width: 576px) {
    .landinggallery {
        padding: 5vh 0;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .showgallery {
        padding: 0vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 10px;
    }
    .imagess {
        margin: 15px 15px;
        height: auto;
        width: 70vw;
        border-radius: 10px;
        border: 1px solid var(--secondary-color);
    }
    .imagess:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
}